<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head}">

</head>
<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button" th:insert="~{fragments/nav}"></nav>

<main class="container fill">
    <h1 class="text-center text-dark">Oops! Something went wrong...!</h1>
    <hr class="hr-2 bg-dark ">
    <div class="text-center">
        <h2 th:text="${message}" style="color: red"></h2>
    </div>
</main>

<div class="footer-basic">
    <footer th:insert="~{fragments/footer}">

    </footer>
</div>


</body>
</html>